

#image{
padding-top:0%;

}

.row{
padding-left:13%;
}
.TP{
padding-left:40%;

}
.img{
padding-left:25%;
}
.nav nav-tabs{
 
padding-left:30%;
}
li{
list-style:none;
float:left;
margin:30px;
paddding-left:13%;
}


a{
float:left;
}
.row{
margin:10px;
padding-right:13%;

}
.container{
padding-left:13%;

}
.thumbnail{
margin-right:5px;

}
.navbar-brand{
margin-top:25px;
font-size:30px;

}

.btn{
margin-left:0%;
width:100px;
}


#myCarousel{
padding-top:0%;
padding-left:30%;
}
.naman{
width:auto;
height:250px;
max-height:250px;

}
.arpit{
overflow-x:hidden;
}
.rem{
float:right;
}
.reg{
padding-left:10px;
}
.login{
padding-left:10px;
}